<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Pipe Drive Test Wajid</a>
  <div class="collapse navbar-collapse" id="appNavigation" [collapse]="isCollapsed">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="" routerLinkActive="active">Home</a>                         
    </div>
  </div>
</nav>

<form>
  <div class="input-group mb-3 d-flex justify-content-center">
      <input type="file" class="form-control-file border" id="uploadField" accept=".csv" (change)="onFileChanged($event)">
    </div>

  <div class="input-group mb-3 d-flex justify-content-center">    
      <button type="button" class="btn btn-primary" id="uploadButton" (click)="uploadFile()">Upload Data</button>
  </div>
  <div class="input-group mb-3 d-flex justify-content-center">    
      <button type="button" class="btn btn-danger" id="deleteButton" (click)="openDeleteModal(template)">Delete data</button>
  </div>
  <progressbar  max="100" [value]="progress" type="danger" [striped]="true" [animate]="true" ><i>{{progress}} / 100</i></progressbar> 
</form>

<hr>

<form>      
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Enter Id for search</span>
          </div>
          <input type="number" name="searchField" [(ngModel)]="searchId" id="searchField" class="form-control" (change)="loadData()" placeholder="Search By Id" aria-label="Serach by id" aria-describedby="basic-addon1">
        </div>

    <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>            
            <th>Team</th>
          </tr>
        </thead>
        <tbody>                                     
            <tr *ngFor="let testData of testDatas">
                <td>{{ testData.id }}</td>
                <td>{{ testData.name }}</td>
                <td>{{ testData.age }}</td>
                <td>{{ testData.address }}</td>
                <td>{{ testData.team }}</td>
              </tr>
        </tbody>
      </table>
</form>





<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete all data?</p>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>


 <footer class="footer" >
  <div class="d-flex justify-content-center"> Copy right © </div>
</footer>


